@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

img {
  width: 300px;
  margin: 0 auto; /* Center the logo */
}

#summarize-section,
#question-section {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  color: #fff; /* This changes the color of h2 elements to white */
}

#summarizeButton,
#askButton {
  max-width: 200px;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: none;
  background-color: #6200EE;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Add hover effect */
#summarizeButton:hover,
#askButton:hover {
  background-image: linear-gradient(to right, #6441A5, #2a0845); /* Gradient on hover */
}

/* Add active effect */
#summarizeButton:active,
#askButton:active {
  background-image: linear-gradient(to right, #2a0845, #6441A5); /* Different gradient on active/click */
}

#questionInput {
  width: calc(100% - 40px); /* Adjust the width as needed, accounting for padding */
  padding: 10px;
  margin: 10px auto; /* Auto margins for horizontal centering */
  display: block; /* Ensures the input takes the full width available */
  border: 1px solid #ccc; /* Example border color */
  border-radius: 20px; /* Rounded corners, adjust as desired */
  background-color: #fff; /* Input background color */
}

#answer {
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  max-width: 80%;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
